
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    font-family: 'Roboto', sans-serif;

}

/* HEADER */

.navbar{

    background-color: #f2c580;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    align-items: center;
}

.navbar .logo{

    width: 75%;
    height: 75%;
    grid-column: 2 / 3;
}

.navbar .menu{

    grid-column: 3 / 7;
    display: flex;
    justify-content: space-around;

}

.navbar .menu li{

    list-style-type: none;

}


.navbar .menu a{

    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    cursor: pointer;
    transition: color 0.2s;

}


.navbar .menu a:hover{

    color: white;

}

.navbar .menu-bar{

    display: none;

}

.navbar .shopping{


    grid-column: 8 / 9;


}


.navbar i{

    transition: color 0.2s;
    color: black;

}

.navbar i:hover{

    color: white;
    cursor: pointer;

}


/* MAIN */


.hero{

    height: 85vh;
    background-image: linear-gradient(rgba(17, 17, 17, 0.8),
     rgba(34, 34, 34, 0.9)),  url(img/fondo.jpg) ;
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}



.hero .info-content{

    grid-column: 2 / 9;
    grid-row: 4 / 5;
    color: white;

}


.hero h3{

    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: white;
    padding: 5px;

}


.hero h1{

    font-size: 3.5em;
    color: #f2c580;
    padding: 5px;



}


.hero p{

    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding: 5px;


}

.hero .btn{

    font-size: 1em;
    background: none;
    color: white;
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 30px;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;

}

.hero .btn:hover{

    background-color: #f2c580;
    color: black;
    cursor: pointer;

}


/* FOOTER */


.footer{

    display: grid;
    height: 80px;
    align-items: center;
    background-color: black;
    grid-template-areas: 
    "search followus social";

}

.footer .search{

    grid-template-areas: search;
    display: flex;
    justify-content: center;
    background-color: #f2c580;
    padding: 25px;
    color: black;
}

.footer .search i{

    margin-right: 15px;
    padding-top: 2%;

}

.footer .followus{

    grid-template-areas: followus;
    text-align: center;

}


.footer .social{

    grid-template-areas: social;
    font-size: 1.3em;
}


.footer .social i{

    margin-right: 15px;
    color: #f2c580;

}


.footer .social i:hover{

   color: white;

}

.footer h2{

    color: white;

}


@media only screen and (max-width: 600px){



    /* HEADER */


    .navbar{

        position: relative;

    }

    .navbar .shopping{

        display: none;

    }


    .navbar .menu-bar{

        display: block;
        grid-column: 8 / 9;
        cursor: pointer;

    }


    .navbar .menu{

        position: absolute;
        display: grid;
        align-items: center;
        background-color: #f2c580;
        margin-top: 80vh;
        width: 100%;
        height: 70vh;
        transform: translateX(200%);
        transition: all 1s;

    }

    .navbar .menu-toggle{

        transform: translateX(60%);
    }


    /* MAIN */


    .hero .info-content{

        grid-column: 2 / 10;
        grid-row: 5  / 8;

    }

    .hero h1{

        font-size: 3.5em;

    }


    /* FOOTER */


    .footer .followus{

        display: none;

    }

    .footer .social{

        text-align: center;

    }



}


