*{

    background-color: #b6d9e8;
    font-family: 'Montserrat', sans-serif;
}

nav{

background-color: blueviolet;
text-align: center;
padding: 4%;
border-radius: 40%;

}

img{

    height: 20%;
    width: 20%;

}

header img{

    width: 25%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}



a{

    background-color:  transparent;
    color: black;
    font-size: 150%;
    text-decoration: none;
}

nav button, a{

    background-color: b6d9e8;
    border-radius: 20px;
    border-color: transparent;
    width: 15%;
    padding: 1%;
    cursor: pointer;
    transition: all ease 0.3s;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
    
    

}

nav button:hover{background-color: blueviolet}


#personal{

    display: flex;
    justify-content: right;
    font-size: 150%;
}


#personal img{

    width: 80%;
    height: 80%;

}

