*{

    background-color: rgb(200, 200, 235);
    font-family: 'Montserrat', sans-serif;
}

nav{

background-color: blueviolet;
text-align: center;
padding: 4%;
border-radius: 20px;

}

img{

    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 300px;
    width: 300px;

}

header{

    text-align: center;

}

a{

    background-color:  rgb(200, 200, 235);
    color: black;
    font-size: 20px;
    text-decoration: none;
}

nav button, a{

    background-color: rgb(200, 200, 235);
    border-radius: 20px;
    border-color: transparent;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    transition: all ease 0.3s;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
    
    

}

nav button:hover{background-color: blueviolet}


