*{

    background-color: rgb(200, 200, 235);
    font-family: 'Montserrat', sans-serif;
}

nav{

background-color: blueviolet;
text-align: center;
padding: 4%;
border-radius: 40%;

}

img{

    height: 20%;
    width: 20%;

}



a{

    background-color:  rgb(200, 200, 235);
    color: black;
    font-size: 150%;
    text-decoration: none;
}

nav button, a{

    background-color: rgb(200, 200, 235);
    border-radius: 20px;
    border-color: transparent;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    transition: all ease 0.3s;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
    
    

}

nav button:hover{background-color: blueviolet}


#personal{




}


