.square{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100px;
    height: 200px;
    transition: color 3s, height 2s;
    color: blue;
    background-color: rgb(168, 168, 221);

  }


  .square:hover{

    color: red;
    height: 100px;
    cursor: pointer;

  }

