*{

    font-family: 'Montserrat', sans-serif;

}

body{

    background-color: rgb(199, 228, 192);


}

div{

    background-color: rgb(137, 224, 240);
    width: 15%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    display: block;
    text-align: center;
    font-size: 120%;
    padding: 20px;

}


.fa-twitter:hover{

    color: rgb(0, 132, 255);
    cursor: pointer;

}

.fa-facebook:hover{

    color: rgb(19, 81, 139);
    cursor: pointer;

}

.color-red:hover{

    color: red;
    cursor: pointer;

}

.fa-solid:hover{

    color: rgb(116, 151, 100);
    cursor: pointer;

}

a{

    color: black;

}


li{

    list-style-type: none;
}

footer{

    text-align: center;

}

.color-green{

    color: rgb(151, 45, 221);


}




