*{

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }


body{

    background-color: rgb(168, 200, 222);
}


.hijo{

    background-color: white;
    margin-left: 90px;
    margin-right: 50px;
    float: left;
    border-radius: 15px;

}

.div{

    background-color: red;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

}


.mensual{

    font-size: 20px;

}

.dinmes{

    font-size: 20px;

}



.div2{

    text-align: center;
    padding: 50px;
    margin-bottom: 40px;

}


.precio{

    font-size: 50px;

}

.button{

    background-color: red;
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
    width: 200px;
    color: white;
    cursor: pointer;
    transition: all ease 0.5s;
    overflow: hidden;

}

.button:hover{background-color: #47a9e5}

.button:active {
    background-color: #6994df;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }