*{

font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

h1{

    text-align: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
}

section{

    background-color: rgb(224,52,68);
    display: block;
    align-self: center;
    margin-top: 100px;
    padding-bottom: 350px;
    padding-top: 50px ;


}


ul{


    list-style-type: square;


}


li{

    padding-right: 20px;
    text-align: justify;
}


button{

    background-color: rgb(224,52,68);
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
    width: 200px;
    color: white;
    cursor: pointer;
    transition: all ease 0.5s;
    overflow: hidden;

}

button:hover{background-color: #47a9e5}

button:active {
    background-color: #6994df;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


.lista{

    list-style: none;
    padding-left: 15px;


}

.lista li{

    position: relative;
    padding-left: 30px;

}

.lista li:before {

    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('imgs/iconlist.png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}




.subtitulo{

    text-align: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;


}

.movil-titulo{

    font-family: 'Press Start 2P', cursive;


}


.rojo{


    color: red;

}


.azul{

    color: blue;

}


.verde{

    color: green;

}



.bloques{

    background-color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 300px;
    margin-right: -230px;
    margin-left: 320px;
    float: left;
    border-radius: 15px;
    padding-bottom: 20px;
    padding: 20px;

}


